.slider {
  background: #f8f8f8;
  min-width: 320px;
  max-width: 1120px;
  margin: 0 auto; }

.slider__title {
  border-top: 2px solid #d9fff5;
  margin: 0;
  padding: 20px 35px 20px 35px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  background: linear-gradient(90deg, #f8f8f8 0%, white 98.61%); }

.slide {
  justify-content: space-around;
  border: 2px solid #eaeaea;
  border-radius: 6px;
  background-color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex; }

.brands__slide {
  min-width: 224px;
  min-height: 72px;
  max-height: 72px; }

.prices__slide {
  color: black;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.tech__slide {
  min-height: 160px;
  max-height: 160px;
  min-width: 240px;
  max-width: 240px;
  padding: 16px;
  position: relative;
  font-weight: bold;
  color: black; }

.slide__logo-img {
  margin-right: auto;
  margin-left: 10px; }

.tech__description {
  position: absolute;
  left: 5%; }

.goto {
  margin-right: 10px;
  margin-top: 3px; }

.goto:hover {
  transition: transform 1.5s;
  transform: scale(1.1);
  cursor: pointer; }

.show-all {
  margin-top: 15px;
  margin-left: 32px;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: TTLakes, sans-serif;
  margin-bottom: 16px; }

.show-all:focus,
.goto:focus {
  outline: none; }

.show-all__img {
  margin-right: 10px; }

.brands__wrapper {
  height: 160px; }

.tech__wrapper {
  height: 160px; }

.prices__wrap {
  max-width: 90%;
  margin: 10px auto 0 auto; }

.brands__container,
.tech__container {
  margin-top: 10px; }

.prices__item,
.prices__head {
  display: flex;
  width: 100%;
  padding: 0 12px;
  max-height: 10px; }

.tech__goto {
  position: absolute;
  bottom: 5%;
  right: 2%; }

.prices__head {
  padding-bottom: 5px;
  color: #7e7e82; }

@media (max-width: 767px) {
  .brands__container {
    width: 90%;
    height: 72px; }
  .tech__container {
    width: 90%; }
  .brands__slide {
    max-width: 224px; }
  .prices__slide {
    color: black;
    flex-shrink: 0;
    width: 260px;
    height: 200px;
    position: relative; }
  .service__title,
  .price__title,
  .time__title {
    margin-top: 15px;
    color: #7e7e82; }
  .tech__goto,
  .prices__goto {
    position: absolute;
    bottom: 5%;
    right: 2%; }
  .prices__wrap {
    margin: 0 auto; }
  .prices__item {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    justify-content: space-between; }
  .slider__wrapper {
    padding-top: 20px; }
  .slider__title {
    padding-left: 20px; }
  .swiper-pagination {
    position: relative !important;
    display: flex;
    justify-content: center; }
  .swiper-pagination-bullet {
    margin: 15px 5px;
    padding: 5px; }
  .show-all {
    display: none; }
  .description__link {
    display: block; }
  .prices__head,
  .slide--hidden {
    display: none; }
  .slide:nth-child(-n + 8) {
    display: flex !important; } }

@media (min-width: 768px) and (max-width: 1119px) {
  .swiper-pagination {
    display: none; }
  .slider__title {
    padding-left: 24px; }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .prices__head {
    margin-top: 20px; }
  .slide {
    margin: 0 12px 10px 12px; }
  .prices__service {
    flex: 1 1 320px;
    align-self: center; }
  .service__title,
  .price__title,
  .time__title {
    display: none; }
  .prices__wrapper {
    background-color: white;
    border-radius: 6px; }
  .prices__price {
    flex: 1 1 80px;
    align-self: center; }
  .prices__time {
    flex: 1 1 110px;
    align-self: center; }
  .prices__goto {
    flex: 1 1 20px;
    align-self: center; }
  .prices__slide {
    margin: 0 12px 0px 12px;
    min-width: 100%;
    border: none;
    border-radius: 0px; }
  .prices__head {
    min-height: 40px; }
  .prices__item {
    min-height: 64px;
    padding: 23px 24px;
    border: 1px solid #f8f8f8;
    color: #1b1c21; }
  .brands__slide {
    max-width: 224px; }
  .tech__slide {
    min-width: 224px;
    max-width: 224px; } }

@media screen and (min-width: 1120px) {
  .swiper-pagination {
    display: none; }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .prices__head {
    margin-top: 20px; }
  .slide {
    margin: 0 12px 10px 12px; }
  .prices__service {
    flex: 1 1 320px;
    align-self: center; }
  .service__title,
  .price__title,
  .time__title {
    display: none; }
  .prices__wrapper {
    background-color: white;
    border-radius: 6px; }
  .prices__price {
    flex: 1 1 80px;
    align-self: center; }
  .prices__time {
    flex: 1 1 110px;
    align-self: center; }
  .prices__goto {
    flex: 1 1 20px;
    align-self: center; }
  .prices__slide {
    margin: 0 12px 0px 12px;
    min-width: 100%;
    border: none; }
  .prices__head {
    min-height: 40px; }
  .prices__item {
    min-height: 64px;
    padding: 23px 24px;
    border: 1px solid #f8f8f8;
    font-family: TTLakes, sans-serif; }
  .brands__slide {
    max-width: 240px; }
  .show-all {
    margin-top: 10px;
    margin-left: 39px; } }

body {
  margin: 0;
  padding: 0; }

button {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #FF3E79;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer; }

.sidebar {
  min-width: 320px;
  max-width: 360px;
  top: 0;
  background: #FFFFFF;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'TT Lakes'; }

.sidebar__header {
  position: relative; }

.btn-close {
  position: absolute;
  top: 23px;
  left: 24px; }

.btn-img--close {
  vertical-align: middle;
  text-align: center; }

.sidebar__logo {
  position: absolute;
  top: 18px;
  left: 80px; }

.btn-search {
  position: absolute;
  top: 23px;
  right: 24px; }

.btn-search:hover {
  transform: scale(1.5); }

.btn-close:hover {
  -webkit-animation: rotate 0.7s;
          animation: rotate 0.7s; }

.sidebar__list {
  margin-left: 24px;
  margin-top: 120px;
  list-style: none; }

.sidebar__item {
  font-family: "TT Lakes", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-left: -40px; }

.sidebar__item--selected {
  color: #7e7e82 !important; }

.sidebar__item--selected::before {
  content: url("/dist/static/highlight.svg");
  margin-left: -30px;
  margin-top: -10px;
  max-height: 22px;
  float: left; }

.sidebar__link::before {
  content: url(./static/highlight.svg);
  margin-left: -24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  opacity: 0;
  transform-origin: 1px 50%;
  transform: scale(0); }

.sidebar__link:hover::before {
  -webkit-animation: increase 0.5s forwards;
          animation: increase 0.5s forwards; }

.sidebar__link {
  display: block;
  text-decoration: none;
  color: #1B1C21; }

.sidebar__button {
  position: relative;
  margin-top: 32px; }

.btn-phone,
.btn-chart,
.btn-profile {
  position: relative;
  margin-right: 16px; }

.btn-phone {
  margin-left: 24px; }

.sidebar__link--phone {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  font-weight: 700;
  cursor: pointer;
  margin: 12px 0px 40px 24px; }

.sidebar__link--mail {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 700;
  margin: 16px 0px 12px 24px;
  cursor: pointer; }

.sidebar__language {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: 700;
  text-transform: uppercase; }

.sidebar__language:active {
  color: #7E7E82; }

.sidebar__language--RU,
.sidebar__language--EN,
.sidebar__language--CH {
  margin-right: 7px; }

.sidebar__language--RU {
  margin-left: 24px; }

@-webkit-keyframes rotate {
  50% {
    transform: rotate(180deg); } }

@keyframes rotate {
  50% {
    transform: rotate(180deg); } }

@-webkit-keyframes ding {
  33% {
    transform: translateX(5px); }
  66% {
    transform: translateX(-5px); } }

@keyframes ding {
  33% {
    transform: translateX(5px); }
  66% {
    transform: translateX(-5px); } }

@-webkit-keyframes increase {
  from {
    transform: scale(12); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes increase {
  from {
    transform: scale(12); }
  to {
    opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes rotateY {
  50% {
    transform: rotateY(360deg); } }

@keyframes rotateY {
  50% {
    transform: rotateY(360deg); } }

.btn-img--phone:hover {
  -webkit-animation: ding 200ms infinite;
          animation: ding 200ms infinite; }

.btn-img--chat:hover {
  -webkit-animation: increase 300ms;
          animation: increase 300ms;
  background-color: darkorange; }

.btn-img--profile:hover {
  -webkit-animation: rotateY 1s;
          animation: rotateY 1s; }

.feedback {
  background-color: white;
  min-width: 320px;
  max-width: 440px;
  height: 100%;
  position: fixed;
  right: -460px;
  top: 0;
  transform: translateX(460px);
  transition: all ease-out 0.5s;
  z-index: 5; }

.feedback__main {
  padding: 24px 0 0 16px; }

.feedback__close-button {
  margin-left: 4px; }

.feedback__title {
  white-space: nowrap;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 24px; }
  .feedback__title::before {
    content: url(./static/highlight.svg);
    margin-left: -16px;
    margin-top: 0px;
    max-height: 22px;
    float: left; }

.feedback__content {
  margin-top: 24px;
  position: relative;
  padding-bottom: 126px; }

.input {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 90%;
  height: 48px; }

.input:nth-child(4) {
  min-height: 102px; }

input {
  border: none;
  position: relative; }
  input:focus {
    outline: none; }

.input__inner {
  margin-top: 2px;
  margin-left: 2px;
  padding: 15px 15px 15px 16px;
  width: 90%;
  height: 90%; }

.input__message {
  padding-bottom: 80px; }

.input__inner::-moz-placeholder {
  color: #b5b6bc; }

.input__inner:-ms-input-placeholder {
  color: #b5b6bc; }

.input__inner::placeholder {
  color: #b5b6bc; }

.feedback__agreement {
  margin-bottom: 19px; }

.feedback__order {
  position: absolute;
  right: 5%; }

.call {
  background-color: white;
  min-width: 320px;
  max-width: 440px;
  height: 100%;
  position: fixed;
  right: -460px;
  top: 0;
  transition: all ease-out 0.5s;
  z-index: 5; }

.call__main {
  padding: 24px 0 0 16px; }

.call__close-button {
  margin-left: 4px; }

.call__title {
  white-space: nowrap;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 24px; }
  .call__title::before {
    content: url(./static/highlight.svg);
    margin-left: -16px;
    margin-top: 0px;
    max-height: 22px;
    float: left; }

.call__content {
  margin-top: 24px;
  position: relative;
  padding-bottom: 126px; }

.call__agreement {
  margin-bottom: 19px; }

.call__order {
  position: absolute;
  right: 5%; }

.feedback {
  box-shadow: 2px 0 40px 0 lightgrey; }

.call {
  box-shadow: 2px 0 40px 0 lightgrey; }

.policy-link {
  color: #ff3e79;
  text-decoration: none; }

@media (min-width: 1120px) {
  .feedback__close-button {
    position: absolute; }
  .call__close-button {
    position: absolute; } }

@media (max-width: 768px) {
  .feedback, .call {
    max-width: 320px; } }

.uppermenu__mobile {
  background-color: white; }

.uppermenu__service-title,
.service-title--mobile,
.slider__title {
  cursor: default; }

.uppermenu__mobile {
  display: flex; }

.service-title,
.service-title {
  padding: 0 30px; }

.white-space {
  position: fixed;
  display: none;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white; }

.navigation__button {
  margin: 0 5px;
  line-height: 24px;
  display: flex;
  color: #7e7e82;
  border: 2px solid #f8f8f8;
  padding: 8px 10px 8px 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
  font-size: 16px;
  text-decoration: none;
  justify-content: center; }
  .navigation__button:hover {
    border: 2px solid #b8ffec;
    padding: 8px 10px 8px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white; }

@media (max-width: 767px) {
  .uppermenu__mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto 0px;
    min-width: 320px;
    border-bottom: 2px solid #b8ffec; }
  .divider--mobile,
  .uppermenu__buttons > .button__call,
  .uppermenu__buttons > .button__chat,
  .uppermenu__buttons > .button__profile {
    display: none; }
  .uppermenu__left {
    width: 350px;
    display: flex;
    justify-content: flex-start;
    min-height: 88px;
    margin-left: 15px; }
  .uppermenu__right {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    min-height: 88px; }
  .uppermenu__buttons {
    max-width: 200px;
    min-width: 120px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin: auto 0 auto 0;
    align-items: center; }
  .header__service-title {
    white-space: nowrap;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px; }
    .header__service-title::before {
      content: url(./static/highlight.svg);
      margin-left: -30px;
      margin-top: 0px;
      max-height: 22px;
      float: left; }
  .navigation {
    overflow-x: scroll;
    padding: 15px 30px 0 28px;
    display: flex;
    white-space: nowrap;
    -ms-overflow-style: none;
    margin-right: 10px;
    max-width: 1400px; }
  .navigation__button:last-child {
    margin-right: 8%; }
  .navigation::-webkit-scrollbar,
  .uppermenu__desktop {
    display: none; } }

@media (min-width: 768px) and (max-width: 1119px) {
  .uppermenu__mobile {
    width: 100%;
    height: 88px;
    border-bottom: 2px solid #b8ffec;
    display: flex; }
  .uppermenu__desktop {
    display: none; }
  .uppermenu__left {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    margin-right: auto; }
  .uppermenu__right {
    width: 400px;
    display: flex;
    justify-content: flex-end; }
  .uppermenu__buttons {
    max-width: 300px;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: auto 30px;
    align-items: center; }
  .uppermenu__left:first-child {
    max-width: 200px; }
  .header__service-title {
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 0px; }
    .header__service-title::before {
      content: url(./static/highlight.svg);
      margin-left: -30px;
      margin-top: 0px;
      max-height: 22px;
      float: left; }
  .navigation {
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
    -ms-overflow-style: none; }
  .header__navigation {
    padding: 15px 30px 0 15px; }
  .navigation__button:last-child {
    margin-right: 8%; }
  .navigation::-webkit-scrollbar {
    display: none; } }

@media screen and (min-width: 1120px) {
  .uppermenu__mobile,
  .header__service-title,
  .description__text--all {
    display: none; }
  .uppermenu {
    max-width: 1120px; }
  .uppermenu__desktop {
    padding: 42px 0 10px 0;
    display: flex;
    align-items: center;
    background-color: #f8f8f8; }
  .uppermenu__service-title {
    margin: 0px;
    padding-left: 40px;
    float: left;
    margin-right: auto; }
    .uppermenu__service-title::before {
      content: url(./static/highlight.svg);
      margin-left: -40px;
      margin-top: 0px;
      max-height: 22px;
      float: left; }
  .uppermenu__buttons {
    font-weight: bold;
    display: flex; }
    .uppermenu__buttons button {
      text-decoration: none;
      color: black;
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 30px; }
      .uppermenu__buttons button:hover {
        color: #7e7e82; }
    .uppermenu__buttons img {
      position: relative;
      padding-left: 15px; }
  .navigation {
    display: flex;
    flex-wrap: wrap; }
  .header__navigation {
    padding: 10px 30px 0 28px; }
  .navigation__button {
    white-space: nowrap; } }

.main__description {
  margin: 15px 0 10px 30px; }

.description {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 18px; }

.description__text {
  flex: 1 1 100%;
  padding-right: 5%; }

.description__img {
  flex: 1 1 100%; }

.description__img img {
  max-width: 100%; }

.description__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 15px; }
  .description__link:link, .description__link:visited, .description__link:active {
    color: black; }

.get-offer {
  padding: 20px 35px;
  max-width: 550px; }

.get-offer__text {
  margin-top: 30px;
  margin-bottom: 47px;
  display: inline-block; }

.get-offer__link {
  text-decoration: none;
  font-weight: bold;
  color: black; }
  .get-offer__link:link, .get-offer__link:visited, .get-offer__link:active {
    color: black; }
  .get-offer__link:hover {
    color: #7e7e82; }
  .get-offer__link::after {
    content: url(./static/line.svg);
    padding-left: 10px;
    float: right; }

@media (max-width: 767px) {
  .main__description {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px; }
  .description__text--full,
  .description__text--tabletplus,
  .description__text--all {
    display: none; }
  .description__text {
    flex-wrap: wrap; }
  .description__img {
    align-self: center;
    min-width: 90%;
    height: 100%;
    margin-top: 10px;
    max-width: 250px;
    display: flex; }
    .description__img img {
      max-width: 100%;
      margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 1119px) {
  .main__description {
    flex-direction: row;
    flex-wrap: nowrap; }
  .description__text {
    margin-left: 5px;
    max-width: 50%;
    justify-content: flex-start; }
  .description__img img {
    max-width: 100%;
    justify-content: flex-end; }
  .description__text--full,
  .description__text--all {
    display: none; } }

@media screen and (min-width: 1120px) {
  .description__text {
    justify-content: flex-start;
    max-width: 750px; }
  .description__img {
    padding-top: 15px; }
  .main__description {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-right: 3%; } }

.lefooter {
  display: flex;
  justify-content: space-around;
  margin: 0px 16px;
  padding-top: 16px;
  border-top: 2px solid #d9fff5; }

.lefooter__text {
  max-width: 33%;
  margin: 0 auto;
  margin-bottom: 16px; }

@media (max-width: 767px) {
  .lefooter {
    flex-direction: column; }
  .lefooter__text {
    max-width: 100%;
    text-align: center; } }

@media (min-width: 768px) {
  .lefooter__text:last-child {
    text-align: right; } }

@font-face {
  font-family: "TTLakes";
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal; }

@font-face {
  font-family: "TT Lakes";
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold; }

* {
  box-sizing: border-box; }

.content {
  margin: 0 auto;
  max-width: 1440px; }

.hidden {
  opacity: 0; }

.white-space {
  position: fixed;
  display: none;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white; }

html,
body {
  font-family: TTLakes, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  min-width: 320px; }

.main-content {
  background-color: #f8f8f8;
  min-width: 320px;
  max-width: 1120px; }

button {
  padding: 0px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: TTLakes, sans-serif; }
  button:hover {
    -webkit-filter: brightness(150%);
            filter: brightness(150%); }
  button:active {
    border: none;
    outline: none; }

a:hover,
button:hover {
  color: #7e7e82; }

@media screen and (min-width: 1120px) {
  .main-content {
    min-height: 500px;
    margin-left: 320px; } }


/*# sourceMappingURL=style.css.map*/